* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Grand Hotel', cursive;
    font-size: 4vw;
    text-align: center;
  }

  .AppLogo {
    size-adjust: 9vw;

  }